input {
    display: block;
    border: none;
    background: transparent;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    width: 100%;
    margin-top: 5vh;
    outline: none;
}

.row {
    margin-top: 5vh;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10vh;
}

button {
    display: inline-block;
    margin: 10vh 0;
    width: 20%;
    background-color: #6097C0;
    color: #fff;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    cursor:pointer;
}

img {
    width: 100%;
}

hr {
    margin: auto;
    border: 1px solid black;
    position: relative;
    top: 3vw;
}

div.line {
    cursor: pointer;
}

#hr1 {
    width: 35%;
    /* margin-left: 0%; */
    margin-right: 0%;
}

#hr2 {
    width: 20%;
    /* margin-left: 0%; */
    margin-right: 15%;
    margin-top: 0.4em;
}

#hr3 {
    width: 15%;
    /* margin-left: 20%; */
    margin-right: 20%;
    margin-top: 0.4em;
    margin-bottom: 4em;
}
